/* Home Page */
.search .form-control {
  max-width: 65%;
}

.search .form-inline {
  margin-left: 10px;
}

@media only screen and (max-width: 550px) {
  .search {
    flex-direction: column;
    margin-left: 0px;

    .form-inline {
      margin-left: 0px;
    }

  }
}

.card {
  margin: 0 auto;
  margin-bottom: 20px;
}

.card.item {
  max-width: 70%;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1050px) {
  .card.item {
    max-width: 85%;
  }
}

.card-header {
  border-bottom: none;
}
.star-rating {
  margin-top: -8px;
  margin-bottom: -4px;
  display: flex;
  align-items: center;
}

/* Product page styling */
.productDescription {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productDetails {
  margin-bottom: 1em;
  width: 100%;

  img {
    width: 35%;
    margin-right: 20px;
    float: left;
  }

  .productInfo {
    display: flex;
    margin-bottom: 10px;
  }

  .product {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .buyProduct {
    border-radius: 33px/11px;
    border: 2px solid lightgray;
    font-size: 18px;
    padding: 1em 0.5em;
    margin-right: 3em;
    width: 45%;
    .input-group > * {
      height: 40px;
    }
  }

  .aboutProduct p {
    white-space: pre-wrap;
  }

}

@media only screen and (max-width: 590px) {
  .productDetails, .productInfo {
    display: flex;
    flex-direction: column;
  }

  .productDetails img {
    width: 80% !important;
    margin: auto;
  }

  .productInfo, .aboutProduct, .reviews {
    width: 85%;
    margin: auto;
    margin-top: 10px;
  }

  .productInfo .buyProduct {
    margin-right: 0;
    width: 100%;
    margin-top: 10px;
  }

}


.input-group.form-inline {
  width: fit-content;
}

/* Styling applying to both shopping cart and past orders */
.shoppingCart, .pastOrders {

  .card {
    display: flex;
    flex-direction: row;
  }

  .card-body-main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .card-body {
    padding: 8px;
  }

  .itemDetails {
    flex-direction: column;
    align-items: flex-start;
  }

  .totalPrice, .other {
    display: flex;
    justify-content: center;
    align-items: center;
    .card-subtitle {
      font-size: 20px;
    }
  }

  img {
    width: 14vw;
    height: 100%;
    margin: auto;
    margin-left: 10px;
  }
}

/* Shopping cart styling */
.shoppingCart {
  display: flex;
  justify-content: space-between;

  .cartItems {
    flex: 4;
    margin-right: 15px;
  }

  .placeOrder {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    border: 1px solid lightgray;
    padding: 20px;
    justify-content: center;
    height: fit-content;
  }

  .card-link:hover {
    cursor: pointer;
    color: blue;
  }
}

.itemDetails .card-title, .itemDetails .card-text {
  margin-bottom: 8px;
}

/* Tablet size */
@media only screen and (max-width: 700px) {
  .shoppingCart, .pastOrders {
    flex-direction: column;
  }

  .shoppingCart img, .pastOrders img {
    width: 25%;
    height: 100%;
    margin: auto;
    margin-left: 10px;
  }

  .shoppingCart .cartItems {
    margin-right: 0;
  }

}

/* Mobile styling for shopping cart and past orders */
@media only screen and (max-width: 480px) {

  .shoppingCart, .pastOrders {

    .totalPrice, .other, .itemDetails {
      display: block;
    }

    .card-body-main-content {
      width: 100%;
      display: block;
    }

    .card-body {
      flex-direction: column;
      padding-top: 5px;
      padding-bottom: 5px;
    }

  }

}

.pastOrdersContainer {
  width: auto;
  .pastOrders {
    display: flex;
    justify-content: space-between;
  }
  .orderTotalPrice {
    font-weight: normal;
  }
  .card {
    border: none;
    margin-bottom: 0;
  }
}

/* Place Order */
.placeorder {
  flex: 1;
  margin-right: 40px;

  .nav-tabs {
    display: flex;
    justify-content: space-around;
  }

  .nav-item {
    flex: 1;
    text-align: center;
    color: black;
  }

  .tab-content {
    margin: 15px auto;
  }

  .custom-control-label, p, div {
    font-weight: normal;
  }

  .form-group {
    margin-bottom: 0;
  }

  .form-group > * {
    margin-bottom: 15px;
  }

  .confirm {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .shipping, .billing {
    text-align: center;
    p {
      margin-bottom: 0;
    }
  }

  .shipping *, .billing * {
    display: inline-block;
    text-align: left;
  }
}

.order-summary {
  width: 35%;
  .card-img-top {
    width: 5.5em;
    height: auto;
    margin-right: 10px;
  }
  .card {
    border: none;
    margin-bottom: 0;
    flex-direction: row;
    align-items: center;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-body {
    padding: 0;
    > * {
      margin-bottom: 0px;
    }
  }
  .total {
    margin: 10px 2em;
    > * {
      margin-bottom: 0.5em;
    }
  }
}

/* Place Order and Summary styling - tablet and mobile */
@media only screen and (max-width: 700px) {
  .placeOrder-summary {
    flex-direction: column-reverse;

    .placeorder, .order-summary {
      width: 100%;
      margin-right: 0;
    }
  }
}

/* Mobile Place Order form styling */
@media only screen and (max-width: 450px) {
  .placeorder {

    .form-group .col {
      padding: 0 5px;
    }

    .form-group.row {
      margin: 0;
      display: flex;
      flex-direction: column;
    }

  }
}
