.App {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

/* Navbar */
.active {
  font-weight: bold;
}

.navbar {
  margin-bottom: 1em;
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-nav a {
  padding: 1vh 2vw !important;
  text-decoration: none;
  margin: auto;
}

hr {
  margin: 5px 0;
}

.badge {
  min-width: 18px;
  min-height: 18px;
  height: 18px;
  border-radius: 45%;
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}


@media only screen and (max-width: 580px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}